{
    "firstBoot": 1,
    "vistaDB_DLL": "VistaDB.NET20.dll",
    "redboxDLL": "Redbox.ProductLookupCatalog.dll",
    "inventoryFileLocation": "",
    "profileFileLocation": "",
    "movieCoverDirectLocation": "",
    "startSerialNumber": 720000000,
    "endSerialNumber": 722000000,
    "starsDefault": 1,
    "release_date_Default": 20241010000000,
    "sell_thru_Default": "true",
    "sell_thru_new_Default": "false",
    "box_office_gross_Default": 0.0,
    "coming_soon_days_Default": 2,
    "sort_date_Default": 20240702055300,
    "national_street_date_Default": 20241001000000,
    "closed_captioned_Default": "false",
    "merchandise_date_Default": 20241010000000,
    "redbox_plus_eligible_date_Default": 20241010000000
}